<mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill" color="accent">
    <mat-label>Nmae</mat-label>
    <input matInput required>
    <mat-hint align="end">Min 5 characters</mat-hint>
</mat-form-field>

<mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline" color="warn">
    <mat-label>Nmae</mat-label>
    <input matInput required>
    <mat-hint align="end">Min 5 characters</mat-hint>
</mat-form-field>

<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
  </form>